jupyter
nbconvert
ipykernel
numpy
pandas
matplotlib
seaborn
scikit-learn
scikit-image
scipy
imageio
Pillow
PyPDF2
requests
PDFMiner
pdfminer
fitz
python-pptx
opencv-python-headless
beautifulsoup4
lxml
requests
scrapy
moviepy
wordcloud
pytube
python-docx
flask
django
xarray
nltk
spacy
textblob